@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(0, 0%, 20%);
    background: hsl(218, 100%, 82%);
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.flex-container {
    display: flex;
    background: #f4f4f4;
    /* justify-content is for rows & always on main axis, use align-items for columns */
    /* justify-content: end; */
    /* align-items is always on the cross axis */
    /* align-items: center; */
}

.item {
    width: 100px;
    height: 100px;
    background: #254de4;
    color: #fff;
    margin: 10px;

    /* one of the easiest ways to center a div */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1) {}

.item:nth-of-type(2) {}

.item:nth-of-type(3) {}